<%# app/views/fetch.html.erb %>

<%#= @products.first.inspect %>
<% p_count = 0 %>
<%# for product in @products %>
<%# image = product.images[0] %>
  <div><%#= "#{image.id}: <a href='"+image.src+"'>"+image.src+"</a>" %></div>
  <div><%= @result %></div>
<div><%#= image.inspect if p_count<1 %></div>
<%#
#  p_count+=1
#end %>